name: iOS Deploy to TestFlight

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_ios:
    name: Build and Upload to TestFlight
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install Dependencies
        run: flutter pub get

      - name: Pre-build Flutter
        run: flutter build ios --release --no-codesign -t lib/youcantcopymymain.dart

      - name: Setup Ruby (for Fastlane)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Install Fastlane
        run: |
          gem install bundler:2.5.22
          bundle _2.5.22_ install
        working-directory: ios

      - name: Create .env file
        run: |
          echo "ADMOB_APP_ID=${{ secrets.ADMOB_APP_ID }}" >> .env
          echo "ADMOB_BANNER_ID=${{ secrets.ADMOB_BANNER_ID }}" >> .env
          echo "ADMOB_INTERSTITIAL_ID=${{ secrets.ADMOB_INTERSTITIAL_ID }}" >> .env
        
      - name: Build and Deploy
        env:
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_CONTENT: ${{ secrets.APP_STORE_CONNECT_API_KEY_CONTENT }}
        run: bundle exec fastlane beta
        working-directory: ios
